name: Build and Push Docker Image

on:
  workflow_dispatch:
    # Triggered by semantic-release
  pull_request:
    branches:
      - main
  push:
    branches:
      - "*"
    tags:
      - "v*"

env:
  REGISTRY: ghcr.io/${{ github.repository_owner }}
  IMAGE_NAME: tadis-ui

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Update version
      working-directory: ./sources/tadis-ui
      run: |
        if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
          VERSION="${GITHUB_REF#refs/tags/v}"
        else
          VERSION="0.0.1-${GITHUB_REF_NAME}-${{ github.run_id }}"
        fi
        VERSION="${VERSION//\//}"
        npm version "$VERSION"

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        flavor: latest=${{ startsWith(github.ref, 'refs/tags/v') }}

    - name: Build and Push Docker image
      id: push
      uses: docker/build-push-action@v6
      with:
        context: ./sources/tadis-ui
        file: ./sources/tadis-ui/Dockerfile
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

    - name: Generate artifact attestation
      if: ${{ github.event_name != 'pull_request' }}
      uses: actions/attest-build-provenance@v3
      with:
        subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true
