name: Run tests and publish to npm registry

on:
  workflow_dispatch: # Triggered by semantic-release
  push:
    tags:
      - "v*"
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Node.js
      uses: actions/setup-node@v5
      with:
        node-version: '22.x'

    - name: Install dependencies for tadis-analyzer
      working-directory: ./sources/tadis-analyzer
      run: npm ci
    - name: Run test for tadis-analyzer
      working-directory: ./sources/tadis-analyzer
      run: npm run test
    - name: Run build for tadis-analyzer
      working-directory: ./sources/tadis-analyzer
      run: npm run build

    - name: Install dependencies for custom-example-analyzer (requires tadis-analyzer)
      working-directory: ./sources/custom-example-analyzer
      run: npm install ../tadis-analyzer

    - name: Run build for custom-example-analyzer
      working-directory: ./sources/custom-example-analyzer
      run: npm run build

  test-tadis-ui:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Node.js
      uses: actions/setup-node@v5
      with:
        node-version: '22.x'

    - name: Install dependencies for tadis-ui
      working-directory: ./sources/tadis-ui
      run: npm ci
    - name: Run test for tadis-ui
      working-directory: ./sources/tadis-ui
      run: npm run test
    - name: Run build for tadis-ui
      working-directory: ./sources/tadis-ui
      run: npm run build

  publish-npm:
    needs: run-tests
    if: github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
    - uses: actions/checkout@v5

      # Setup .npmrc file to publish to GitHub Packages
    - uses: actions/setup-node@v5
      with:
        node-version: '22.x'
        registry-url: 'https://registry.npmjs.org'
    - run: npm ci
      working-directory: ./sources/tadis-analyzer
    - run: npm run build
      working-directory: ./sources/tadis-analyzer
    - run: |
        TAG_VERSION="${GITHUB_REF#refs/tags/v}"
        npm version "$TAG_VERSION"
      working-directory: ./sources/tadis-analyzer
    - run: npm publish --provenance --access public
      working-directory: ./sources/tadis-analyzer
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
